@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --turquoise-bg-color: #08e8de;
  --white-bg-color: #ffffff;

  --header-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;

  background-color: var(--background-color);
}

input {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
